# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Terraform
# ==========================
**/.terraform/
**/.terraform.lock.hcl

**/*.tfstate
**/*.tfstate.*

**/terraform.tfvars
**/terraform.tfvars.json

# ==========================
# Keys
# ==========================
**/keys/
**/*.pem

# ==========================
# Node
# ==========================
**/node_modules/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
Thumbs.db